@import "../../stylesheets/variables.less";
.content {
  margin: 75px auto 0 auto;
  max-width: 928px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
      display: flex;
      align-items: center;
      height: 48px;
      gap: 10px;
      svg {
        width: 40px;
      }
      h3 {
        width: 100%;
        color: @main-black;
        font-size: 20px;
        font-weight: 500;
      }
    }
    p {
      color: @text-second;
    }
  }
  @media (max-width: 900px) {
    margin-top: 50px;
    column-gap: 17px;
    .card {
      gap: 10px;
      h3 {
        font-size: 19px;
      }
    }
  }
  @media (max-width: 570px) {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
