@import "../../stylesheets/variables.less";
.content {
  margin: 75px auto 0 auto;
  max-width: 930px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  .sliderGrid {
    width: 822px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 100%));
    gap: 10px;
    div {
      width: 100%;
    }
  }
  @media (max-width: 900px) {
    gap: 5px;
    .sliderGrid {
      //div
      a {
        div {
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    margin-top: 50px;

    justify-content: center;
    svg {
      display: none;
    }
    .sliderGrid {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      align-items: center;
      justify-items: stretch;
      max-width: 450px;
      row-gap: 30px;
      //div
      a {
        height: auto;
        div {
          max-width: 100%;
          h3 {
            font-size: 20px;
          }
          div {
            max-width: 100%;
            height: 300px;
          }
          //a
          button {
            display: block;
          }
        }
      }
    }
  }
}
