@import "../../stylesheets/variables.less";
.footer {
  margin-top: auto;
  background-color: @main-black;
  height: 100px;

  div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    .logo {
      color: @text-white;
      font-size: 20px;
      span {
        font-weight: 500px;
      }
    }
    p {
      color: white;
      display: flex;
      align-items: center;
      gap: 55px;
    }
    a {
      color: @text-white;
      font-size: 20px;
      text-decoration: none;
    }
  }
}
