@import "../../stylesheets/variables.less";
.content {
  margin: 129px auto 0 auto;
  max-width: 928px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 36px;
  flex-wrap: wrap;
}
.item {
  padding: 57px 20px 20px;
  position: relative;
  border: 1px solid @orange;
  max-width: 256px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  color: @text-second;
  h3 {
    font-weight: 500;
  }
  div {
    border: 1px solid @orange;
    position: absolute;
    border-radius: 99px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    top: -61px;
    left: calc(256px-50);
    img {
      width: 101px;
      margin-top: -25px;
    }
  }
}
