@import "../../stylesheets/variables.less";
.content {
  margin: 129px auto 0 auto;
  max-width: 928px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 256px);
  justify-content: space-between;
  justify-items: center;

  .item {
    padding: 57px 20px 20px;
    position: relative;
    border: 1px solid @orange;

    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    color: @text-second;
    h3 {
      font-weight: 500;
    }
    p {
      height: 153px;
    }
    div {
      border: 1px solid @orange;
      position: absolute;
      border-radius: 99px;
      overflow: hidden;
      height: 100px;
      width: 100px;
      top: -51px;
      left: calc(256px-50);
      img {
        width: 100%;
        margin-top: -25px;
      }
    }
  }
  @media (max-width: 900px) {
    margin-top: 100px;
    grid-template-columns: repeat(3, 230px);
    .item {
      justify-content: end;
      height: 256px;
      padding: 18px;
      gap: 13px;
      h3 {
        font-size: 16px;
      }
      div {
        width: 90px;
        height: 90px;
      }
    }
  }
  @media (max-width: 770px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    .item {
      // max-width: 450px;
      padding-top: 60px;
      height: max-content;
      p {
        height: max-content;
      }
    }
  }
  @media (max-width: 425px) {
    .item {
      height: max-content;
      p {
        height: min-content;
      }
    }
  }
}
